#container {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 211, 203);
}

#apple{
    background-color: blue;
    border-radius: 10px;
}