/* *{
  background-color: black;
  color: white;
} */
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(182, 182, 237);
  height: 10px;
}
.nav div{
  display: flex;
  align-items: center;
  gap: 40px;

}